div {
    background:#fff;
    padding:5rem 2rem 5rem 4rem;
    position:relative;
    z-index: 2;
    input {
        width: 21rem;
        margin-bottom: 2rem;
    }
}

.remember-message {
    margin-top: -2.4rem;
    margin-left: 11rem;
    margin-bottom: 1.4rem;
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    color: #A4A4A4;
    cursor: default;
}