div {
    background:#fff;
    padding:5rem 2rem 5rem 4rem;
    input {
        width: 21rem;
        margin-bottom: 2rem;
    }
    button {
        margin-left: 14.6rem;
        padding: 5px 2rem;
    }
}